/* header */
.header {
  background-image: linear-gradient(
    rgba(169, 166, 166, 0.672),
    rgba(163, 162, 162, 0.8)
  ), url('../public/img/desk.jpg');
  background-size: cover;
  width: 100%;
  height: 700px;
}
.whitemenu {
  background-color: white;
  width: 100%; 
  height: 75px;
  position: fixed;
  z-index: 1;
  box-shadow: 0px 1px 10px 1px grey;
  display: none;
}
.show {
  display: block;
}
.hamburger_button {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  right: 10px;
  width: 40px;
  height: 40px;
  font-size: 20px;
  background-color: transparent;
  border: 0.5px solid rgb(199, 198, 198);
  border-radius: 3px;
  z-index: 2;
  display: none;
}
.hamburger_button:hover {
  background-color: rgb(206, 206, 206);
  cursor: pointer;
}
.hamburger_menu {
  margin-top: 75px;
  background-color: white;
  width: 100%;
  height: 180px;
  display: none;
}
.hamburger_menulist {
  padding: 0 1rem;
  font-size: 1.3rem;
  margin: 1.5rem;
}
.hamburger_menulist:hover {
  color: rgb(206, 206, 206);
  cursor: pointer;
}

.menu {
  width: 90%;
  max-width: 1140px;
  position: fixed;
  color: black;
  height: 70px;
  display: flex;
  z-index: 1;
  padding-top: 20px;
  left: 0;
  right: 0;
  margin: auto;
}
.menu_1 {
  width: 200px;
  flex-grow: 1;
  font-size: 1.8rem;
  margin: 0 40px 0 20px;
  z-index: 2;
}
.maintitle {
  width: fit-content;
  z-index: 2;
  font-weight: 600;
  margin-top: 0.4rem;
}
.maintitle:hover {
  color: rgb(206, 206, 206);
  cursor: pointer;
}
.menu_3 {
  display: flex;
  justify-content: right;
}

.menu .menulist {
  padding: 0 1rem;
  font-size: 1.3rem;
  margin-top: 0.5rem;
}
.menu .menulist:hover {
  color: rgb(206, 206, 206);
  cursor: pointer;
}

/* Aboutme */
.Aboutme {
  height: 450px;
}
.notice_name {
  left: 0;
  right: 0;
  margin: 50px auto;
  position: relative;
  width: 390px;
  height: 80px;
}
.notice_name .box1 {
  position: absolute;
  width: 100px;
}
.notice_name .box1 span {
  font-size: 4.5rem;
}
.notice_name .box2 {
  position: absolute;
  right: 0;
  font-weight: 900;
  font-size: 3.5rem;
  width: fit-content;
}
.notice_name .box3 {
  position: absolute;
  margin-top: 20px;
  right: 0;
  bottom: 0;
  width: 18.5rem;
  height: 2px;
  background-color: rgb(50, 50, 50);
}



/* skills */
.skills {
  height: 1100px;
  background-color: rgb(156, 152, 152);
  background-size: cover;
  padding-top: 20px;
}
.skills .notice_name {
  width: 270px;
  height: 80px;
  margin-bottom: 50px;
}
.skills .notice_name .box3 {
  width: 175px;
}


@media screen and (max-width : 1000px) { 
  .header {
    height: 700px;
  }
  .whitemenu {
    z-index: 1;
    display: block;
  }
  .hamburger_button {
    z-index: 2;
    display: block;
  }
  .menu .menulist {
    display: none;
  }

  .Aboutme {
    height: 550px;
  }
  .notice_name {
    width: 320px;
    height: 70px;
  }
  .notice_name .box1 span {
    font-size: 4rem;
  }
  .notice_name .box2 {
    font-size: 2.8rem;
    margin-left: 1px;
  }
  .notice_name .box3 {
    margin-top: 20px;
    width: 15rem;
    height: 2px;
  }

  .skills {
    height: 1600px;
  }
  .skills .notice_name {
    width: 220px;
    height: 70px;
    margin-bottom: 50px;
  }
  .skills .notice_name .box3 {
    width: 140px;
  }
  
}

@media screen and (min-width : 1000px) {
  .hamburger_menu {
    display: none;
  }
}


@media screen and (max-width : 650px) { 
  .inner {
    width: 80%;
  }    
  .header {
    height: 700px;
  }
  .Aboutme {
    height: 900px;
  }
  .skills {
    height: 2400px;
  }
  
}
